@import "../style/define";
.avatar{
  font-size: 1rem;
  margin-left: $ContentMargin;
  line-height: 64px;
}
.name{
  margin-left: $ContentMargin;
}
.menu{
  display: inline-block;
  vertical-align: middle;
}